@import url(//db.onlinewebfonts.com/c/7200c6dd8ac604abe09f5159e53a40c0?family=Mark+Pro);

body {
  text-align: center;
  font-family: MarkPro,sans-serif;
}

.outerBlock {
  background-color: white;
  width: 100%;
  display: flex;
  margin: auto;
  justify-content: center;
  height: 1000px;
}

