@import url(//db.onlinewebfonts.com/c/7200c6dd8ac604abe09f5159e53a40c0?family=Mark+Pro);

body {
  text-align: center;
  font-family: MarkPro, sans-serif;
}

.outerBlock {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: #d80c0c;
  padding: 3rem;
  margin-top: 2rem;
  max-width: 90%;
  margin: auto;
}

button {
  margin: 1rem;
  padding: 0.5rem;
  font-size: 15px;
}

button:hover {
  background-color: #dc0000e7;
  box-shadow: 0px 0px 10px red;
  transition: ease-in-out;
}

#progress-button {
  width: auto;
}
